

body{
    margin: 0;
    margin-top: 0;
    padding: 0;
}

nav{
    background: #d50000;
    height: 2em;
    margin-top: 0;
    padding: 1em;
}

.head-img{
    max-height: 550px;
    min-width: 1360px;
}

