@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

:root{
    --clr-light: #eeeeee;
    --clr-dark:#607d8b;
    --clr-accent: #37474f;
}

body{
    margin: 0;
    background: url(./Visuals/whiteBurger.jpg) no-repeat top center;
    background-size: cover;
    height: 100vh;
    
}

.navbar{  
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    background: var(--clr-dark);
    position: sticky;
    top: 0;
}

.navbar-right_side{
    color: var(--clr-light);
    font-weight: 900;
    font-style: italic;
}

.navbar a{
    color: var(--clr-light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.home-text{
    padding: 3em;
}

.head-img{
    max-height: 450px;
    min-width: 100%;
    opacity: .8;
}

.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact_two-form {
    max-width: 550px; 
    margin: 0 auto;  /*this places the content in the center horizontally*/
    background: rgba(33,33,33,0.9);
    /* background-color: #d50000; */
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    /*this part creates a text input that has no border*/
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #eeeeee;
    padding: 10px;
    color: #eeeeee;
    width: 100%;
}

.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    color: #eeeeee;
}

::-moz-input-placeholder {
    color: #eeeeee;
}

::-ms-input-placeholder {
    color: #eeeeee;
}

.btn {
    background: #37474f;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #eeeeee;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .contact_two-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields,
    .msg {
        width: 100%;
    }
}
